{% extends "tipo_ayuda/base.html"%}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Tipo de ayuda</td>
            <td>
                <a href="{% url 'tipo_ayuda_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Agregar nuevo
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for Tipo_ayuda in tipo_ayuda_list%}
            <tr>
                <td>{{Tipo_ayuda.nombreAyuda}}</td>
                <td>
                    <a href="{% url 'tipo_ayuda_update' Tipo_ayuda.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'tipo_ayuda_delete' Tipo_ayuda.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}