{% extends "ayuda/base.html"%}

{% block content %}
<table class="table table-borderless table-hover ">
    <thead class="border-bottom font-weight-bold thead-dark">
        <tr>
            <td>Nombre</td>
            <td>Beneficiario</td>
            <td>Fecha</td>
            <td>Entidad</td>
            <td>
                <a href="{% url 'ayuda_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Agregar nuevo
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for ayuda in ayuda_list%}
            <tr>
                <td>{{ayuda.nombreAyuda}}</td>
                <td>{{ayuda.beneficiario}}</td>
                <td>{{ayuda.fecha}}</td>
                <td>{{ayuda.entidad}}</td>
                <td>
                    <a href="{% url 'ayuda_update' ayuda.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'ayuda_delete' ayuda.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}