{% extends "registro_usuario/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    
    <div class="row">
        <div class="col-md-6">
            {{form.nombresUsuario|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.apellidosUsuario|as_crispy_field}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{form.duiUsuario|as_crispy_field}}   
        </div>
        <div class="col-md-8">
            {{form.tipoUsuario|as_crispy_field}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Guardar</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'user_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Volver a la lista
            </a>
        </div>
    </div>
    
</form>
{% endblock content %}